<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>秀够</title>
	<meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
          <link rel="stylesheet" href="../src/index.css">
</head>
<body id="app" class="">
<header class="">
	<div class="top">
		<div class="img">
		<div><img src="../images/h5_video_logo1.png" alt="" class="left"></div>
		<div><img src="../images/h5_video_logo2.png" alt="" class="left"></div>
			
			
		</div>
		<a href="http://a.app.qq.com/o/simple.jsp?pkgname=com.kingdowin.xiugr"><img class="down" src="../images/h5_video_btn1.png" alt="" class="left"></a>
	</div>
	<div class="sub">
			<img class="usehead" src="{{result.userInfo.photoUrl}}" alt="">
		
		<div class="contain">
			<div class="name">
				<span>{{result.userInfo.nickName}}</span>
				<span class="img1">&nbsp</span>
				<span class="img2">vip{{result.userInfo.vipLevel}}</span>
			</div>
			<div class="text">{{result.reward.desc}}</div>
			<div class="foot">
				
				<div class="icon">
						<img class="" src="../images/user_wallet_icon_diamond.png" alt="">
					<span >钻石奖励{{result.reward.amount}}</span>
				</div>
				<div class="pic">
					<img v-for="item in result.userVideoResults" src="{{item.photoUrl}}" alt="">
				</div>
			</div>
		</div>
	</div>
</header>
<main>
	<div v-for="item in result.userVideoResults" class="user">
		<div class="top">
			<div class="hd">
				<img src="{{item.photoUrl}}" alt="">
				<div class="name">
					<p>{{item.userName}}</p>
					<p class="time">
						<span>{{item.createTime}}</span>
						<span class="eye">{{item.clickNum}}</span>
					</p>
				</div>
			</div>
			<img v-if="item.isBest == 1" src="../images/icon_best.png" alt="" class="best">
		</div>
		<div class="video">
			<video poster="{{item.imageUrl}}" src="{{item.videoUrl}}" ></video>
		</div>
	</div>
</main>
<footer>
	<a href="http://a.app.qq.com/o/simple.jsp?pkgname=com.kingdowin.xiugr">
		<img src="../images/joinBtn.png" alt="">
	</a>
	<img src="../images/btmBg.png" alt="">
</footer>
<script src='../vendor/vue.min.js'></script>
<script src='../src/index.js'></script>
<script src="https://dn-bts.qbox.me/sdk/bugtags-1.0.3.js"></script>
<script>
    // VERSION_NAME 替换为项目的版本，VERSION_CODE 替换为项目的子版本
    new Bugtags('6b298420459dd1e5df85380fcb2f2c01','VERSION_NAME','VERSION_CODE');
</script>
</body>
</html>