.flex {
  display: -webkit-flex;
  display: flex;
}
* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 10px;
}
body {
  margin: 0 auto;
  background-color: #eaeaea;
  font-size: 1.6rem;
}
header .top {
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrop;
  justify-content: space-around;
  align-items: center;
  background-color: #434343;
  padding: 1rem;
  /*img{
			flex-shrink:1;
			height: 3.7rem;
		}*/
}
header .top div {
  display: -webkit-flex;
  display: flex;
  flex-shrink: 1;
  /*img{
				width: 100%;
			}*/
}
header .top div img {
  height: 4.5rem;
  margin-right: 1rem;
}
header .top img.down {
  flex-shrink: 1;
  height: 3.3rem;
}
header .sub {
  display: -webkit-flex;
  display: flex;
  background-color: white;
  justify-content: space-between;
  padding: 1rem;
}
header .sub .usehead {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  flex-shrink: 0;
}
header .sub .contain {
  padding: .7rem;
  flex-grow: 2;
  flex-shrink: 1;
  /*span{
				border:1px solid blue;
			}*/
}
header .sub .contain .name .img1 {
  display: inline-block;
  width: 3rem;
  height: 1.5rem;
  background: url('../images/person_icon_male.png') no-repeat 5px center;
  padding: .2rem 1rem .2rem 0rem;
  background-size: auto 90%;
  vertical-align: text-bottom;
  background-color: #92cdff;
}
header .sub .contain .name .img2 {
  /*padding-top: 1rem;
				padding-left: 2.1rem;
				padding-right: 1rem;*/
  vertical-align: text-bottom;
  padding: .2rem 1.5rem .2rem 3rem;
  color: #fff;
  line-height: 1.1rem;
  display: inline-block;
  width: 2rem;
  height: 1.5rem;
  background: url('../images/person_icon_01_vip1.png') no-repeat 5px center;
  background-size: auto 90%;
  background-color: #f0c958;
}
header .sub .contain .text {
  margin-top: .5rem;
  background-color: #f3f3f3;
  padding: .8rem;
  font-size: 1.4rem;
  line-height: 1.7rem;
}
header .sub .contain .foot {
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
}
header .sub .contain .foot .icon {
  flex-shrink: 0;
  padding-top: 1.4rem;
  font-size: 1.4rem;
  color: #f35988;
}
header .sub .contain .foot .icon span.zs {
  display: inline-block;
}
header .sub .contain .foot .icon img {
  margin-bottom: -0.3rem;
  height: 1.6rem;
}
header .sub .contain .foot .pic {
  display: -webkit-flex;
  display: flex;
  justify-content: flex-end;
  padding-top: .7rem;
  padding-left: .7rem;
  flex-wrap: wrap;
  flex-shrink: 1;
}
header .sub .contain .foot .pic img {
  margin-right: .5rem;
  margin-bottom: .3rem;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}
main {
  background-color: #fff;
  margin-top: 1rem;
}
main .top {
  padding: 1rem;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
}
main .top .hd {
  display: -webkit-flex;
  display: flex;
}
main .top .hd img {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
}
main .top .hd .name {
  padding-left: 1rem;
  padding-top: .5rem;
}
main .top .hd .name .time {
  font-size: 1.4rem;
  color: #cbcbcb;
  padding-top: .5rem;
  display: inline-block;
}
main .top .hd .name .time .eye {
  background: url("../images/video_icon_eye.png") no-repeat left center;
  background-size: 40% auto;
  padding-left: 2rem;
  line-height: 2rem;
}
main .top .best {
  border-radius: 0;
  height: 4.2rem;
}
main .video video {
  width: 100%;
  height: 25rem;
  background-color: black;
}
footer {
  margin-top: 2rem;
}
footer a {
  display: -webkit-flex;
  display: flex;
  justify-content: center;
}
footer a img {
  width: 80%;
}
footer img {
  width: 100%;
}
@media only screen and (min-width: 321px) {
  html {
    font-size: 5px !important;
  }
}
@media only screen and (min-width: 376px) {
  html {
    font-size: 7px !important;
  }
}
@media only screen and (min-width: 401px) {
  html {
    font-size: 10px !important;
  }
}
@media only screen and (min-width: 428px) {
  html {
    font-size: 13.375px !important;
  }
}
@media only screen and (min-width: 481px) {
  html {
    font-size: 15px !important;
  }
}
@media only screen and (min-width: 569px) {
  html {
    font-size: 17.5px !important;
  }
}
@media only screen and (min-width: 641px) {
  html {
    font-size: 20px !important;
  }
}
